.bodypart {
	width: 100%;
	height: 650px;
	margin-top: 70px;
}

.one {
	width: 50%;
	height: 320px;
	float: left;
}
.two {
	margin-left: 50%;
	height: 320px;	
}
.three {
	width: 50%;
	height: 320px;
	float: left;
}
.four {
	margin-left: 50%;
	height: 320px;
}

.oneimg {
	margin-left: 30px;
	height: 90%;
	width: 80%;
}
.twoimg {
	margin-left: 100px;
	height: 90%;
	width: 80%;
}
.threeimg {
	margin-top: 30px;
	margin-left: 30px;
	height: 95%;
	width: 80%;
}

.fourimg {
	margin-top: 30px;
	margin-left: 100px;
	height: 90%;
	width: 80%;
}

.onebtn{
	padding: 12px;
	font-weight: bolder;
	margin-top: 10px;
	margin-left: 300px;
	background-color: #330033;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	border: white;
}
.twobtn{
	padding: 12px;
	font-weight: bolder;
	margin-top: 10px;
	margin-left: 350px;
	background-color: #330033;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	border: white;
}
.threebtn{
	padding: 12px;
	font-weight: bolder;
	margin-top: 10px;
	margin-left: 280px;
	background-color: #330033;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	border: white;
}
.fourbtn{
	padding: 12px;
	font-weight: bolder;
	margin-top: 10px;
	margin-left: 350px;
	background-color: #330033;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	border: white;
}