.bodyp {
	
	background-color: #d6e0f5;
	margin-top: 50px;
	height: 600px;
}
.block {
	width: 28px;
	background-color: #6b5b95;
	position: absolute;
	margin-bottom: 250px;
	margin-left: 450px;
	bottom: 0px;
	transition: 0.2s all ease;
}

.block_id {
	position: absolute;
	color: black;
	margin-top: -20px;
	width: 100%;
	text-align: center;
}
.data-container {
	width: 600px;
	height: 384px;
	position: relative;
	margin: 0 auto;
}
.btn2 {
	padding: 12px;
	font-weight: bolder;
	margin-top: 50px;
	margin-left: 700px;
	background-color: #330033;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	border: white;
}
