.bodyp {
	
	background-color: #d6e0f5;
	margin-top: 50px;
	height: 600px;
}
.data-container {
	width: 600px;
	height: 364px;
	position: relative;
	margin: 0 auto;
}

.bar {
	width: 28px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #6b5b95;
	transition: 0.2s all ease;
}

.bar__id {
	position: absolute;
	top: -24px;
	width: 100%;
	text-align: center;
}

.btn2 {
	padding: 12px;
	font-weight: bolder;
	margin-top: 50px;
	margin-left: 700px;
	background-color: #330033;
	border-radius: 10px;
	color: white;
	font-size: 16px;
	border: white
}

